:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url(../bg/backgroundlousa.jpg);
}

@font-face {
    font-family: 'SangoRegular';
    src: url(../fonts/Sango-Regular.otf);
}
@font-face {
    font-family: 'SangoLight';
    src: url(../fonts/Sango-ExtraLight.otf);
}

/* Header */

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 30px;
    box-shadow: 0px 5px 15px 1px rgba(252, 246, 246, 0.295);
}

.cabecalho .title {
    font-size: 4em;
    font-family: 'SangoRegular';
}

.cabecalho nav a {
    font-size: 2em;
    font-family: 'SangoLight';
    text-decoration: none;
    color: white;
    padding: 6px;
    padding-top: 7px;
    border: 1px solid white;
    border-radius: 10px;
}

/* body */

main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    width: 90%;
    margin: auto;
    padding-top: 40px;
    background-color: rgb(255, 255, 255);
}
.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgb(255, 255, 255);
    justify-content: center;
}

.elemento {
    width: 60px;
    height: 60px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
    
}

.elemento .sigla {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
}

.elemento .num {
    position: absolute;
    top: 3px;
    left: 3px;
    font-size: .8em;
}


.elemento .nome {
    font-size: 0.60em;
    margin-bottom: 5px;
}

.legenda {
    display: flex;

}

.tipos {
    margin-top: 40px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 5px;
    border-radius: 10px;
}

.tipos .gasesN {
    margin-right: 0px;
}

/* Familias */

.nMetal {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(146, 218, 40);
    box-shadow: 0px 0px 5px 1px greenyellow;
}

.gasesN {
    background-color: white;
    border: 2px solid rgb(109, 123, 252);
    box-shadow: 0px 0px 5px 1px rgb(109, 123, 252);
}

.metalAlc {
    background-color: white;
    border: 2px solid rgb(216, 147, 44);
    box-shadow: 0px 0px 5px 1px rgb(255, 175, 54);
}

.metalAlcTer {
    background-color: white;
    border: 2px solid rgb(204, 207, 35);
    box-shadow: 0px 0px 5px 1px rgb(251, 255, 44);
}

.metalTrans {
    background-color: white;
    border: 2px solid rgb(253, 112, 87);
    box-shadow: 0px 0px 5px 1px rgb(253, 112, 87);
}

.halogenio {
    background-color: white;
    border: 2px solid rgb(60, 207, 207);
    box-shadow: 0px 0px 5px 1px rgb(87, 253, 253);
}

.semiMetal {
    background-color: white;
    border: 2px solid rgb(17, 167, 54);
    box-shadow: 0px 0px 5px 1px rgb(17, 167, 54);
}

.outrosMetal {
    background-color: white;
    border: 2px solid rgb(21, 70, 228);
    box-shadow: 0px 0px 5px 1px rgb(21, 70, 228);
}

.lantanideo {
    background-color: white;
    border: 2px solid rgb(211, 21, 228);
    box-shadow: 0px 0px 5px 1px rgb(211, 21, 228);
}
 .actinidios{
    background-color: white;
    border: 2px solid rgb(118, 21, 228);
    box-shadow: 0px 0px 5px 1px rgb(118, 21, 228);
 }

/* hover */

.elemento.nMetal:hover {
    transform: scale(1.12);
    
}

.elemento.metalAlc:hover {
    transform: scale(1.15);
}

.elemento.metalAlcTer:hover {
    transform: scale(1.15);
}

.elemento.metalTrans:hover {
    transform: scale(1.15);
}

.elemento.outrosMetal:hover {
    transform: scale(1.15);
}

.elemento.semiMetal:hover {
    transform: scale(1.15);
}

.elemento.lantanideo:hover {
    transform: scale(1.15);
}

.elemento.actinidios:hover {
    transform: scale(1.15);    
}

.elemento.halogenio:hover {
    transform: scale(1.15);
}

.elemento.gasesN:hover {
    transform: scale(1.15);
}



@media (max-width:1770px) {

    .tipos {
        font-size: 0.8em;
    }
}

@media (max-width:1500px) {

    .tabelaPeriodica {
        overflow: scroll;
        padding: 10px;
    }

    .legenda {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 50% 50%;
        text-align: center;
    }

    .tipos.metalAlcTer {
        order: 1;
    }

    .tipos.outrosMetal {
        order: 1;
    }

}

@media (max-width:800px) {
    main {
        width: 99.8%;
    }
    
    .legenda { 
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 36% 34% 34%;
        text-align: center;
        justify-content: center;
    }

    .tipos.metalAlcTer {
        grid-column: 1 / 3;
        grid-row: 3 / 3;
    }

    .tipos.outrosMetal {
        grid-column: 3 / 5;
        grid-row: 3 / 3;
    }

    .cabecalho nav {
        font-size: 0.8em;
    }
}

@media (max-width:650px) {
    main {
        width: 99.8%;
    }

    .cabecalho {
        flex-direction: column;
        align-content: center;
        text-align: center;
    }

    .title {
        font-size: 3em;
        margin-bottom: 30px;
    }

    .cabecalho nav {
        font-size: 0.8em;
    }
}

